#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qemu Başlatıcı
Comment=Qemu Başlatıcı
Exec=lxsudo ay-qemu
Icon=/usr/share/icons/hicolor/48x48/apps/qemu.png
Terminal=false
Encoding=UTf-8
Type=Application
Categories=Qt;Development;
