[Desktop Entry]
Encoding=UTF-8
Name=JWM
Comment=X11 Pencere Sistemi için hafif bir pencere yöneticisi
Exec=/usr/bin/jwm
TryExec=/usr/bin/jwm
Type=XSession
