#!/usr/bin/env xdg-open
[Desktop Entry]
Name=IcedTea-Web Control Panel
Name[de]=IcedTea-Web Systemsteuerung
Name[tr]=IcedTea-Web Kontrol Paneli
Name[pl]=Panel sterowania IcedTea-Web
Name[cs]=Ovládací panel IcedTea-Web
GenericName=Control Panel
Comment=Configure IcedTea-Web (javaws and plugin)
Comment[de]=Konfiguriert IcedTea-Web (javaws und Plug-in)
Comment[tr]=Konfiguriert IcedTea-Web Ayarları (javaws ve Plug-in)
Comment[pl]=Konfiguruj IcedTea-Web (javaws i wtyczkę)
Comment[cs]=Konfigurace aplikace IcedTea-Web (javaws a zásuvný modul)
Exec=/usr/share/icedtea-web/bin/itweb-settings
Icon=javaws
Terminal=false
Type=Application
Categories=Settings;
Keywords=IcedTea;IcedTea-Web;java;javaws;web;start;webstart;jnlp;
