[Desktop Entry]
Name=Qt Asistanı
Comment=Qt belgelerini ve örneklerini gösterir
Exec=assistant
Icon=assistant
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
