[Desktop Entry]
Name=Qt Dizayncı
GenericName=Arayüz hazırlayın
Comment=Qt uygulamaları için GUI tasarımı
Exec=designer %F
Icon=QtProject-designer
MimeType=application/x-designer;
Terminal=false
Type=Application
Categories=Qt;Development;
