[Desktop Entry]
Name=Qt Dil Ekle
Comment=Qt uygulamalarına çeviriler ekleyin
Exec=linguist %F
Icon=linguist
MimeType=text/vnd.trolltech.linguist;application/x-linguist;
Terminal=false
Type=Application
Categories=Qt;Development;
