[Desktop Entry]
Name=Qt QDbus Görüntüleyici 
GenericName=D-Bus Hata Ayıkla
Comment=D-Bus uygulamalarında hata ayıklama
Exec=qdbusviewer
Icon=qdbusviewer
Terminal=false
Type=Application
Categories=Qt;Development;Debugger;
